* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-pattern.svg);
    background-size: 100% 50%;
    min-height: 100%;
    min-width: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgb(161, 161, 161);
    
}


.banner {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1rem;
    background-image: url(/sources/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;


}

.banner h1 {
    font-size: 1.2rem;
    padding: 15px 0;
    color: black;
}

.description {
    font-size: 0.8rem;
    line-height: 1.5rem;
}



.container {
    width: 400px;
    max-width: 80%;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;

}

.top {
    min-height: 17vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.views-price {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pageviews {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.views {
    padding: 0 2px;
    
}



/*------------------ Slide Bar ------------------------*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    background: linear-gradient(90deg, rgb(235, 235, 255) 50%, rgb(235, 235, 255) 50%); 
    height: 7px;
    border-radius: 10px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: rgb(64, 224, 208);
    background-image: url(/sources/images/icon-slider.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
    
}

.slider.slider::-webkit-slider-thumb:hover {
    background-color: rgba(64, 224, 208, 0.8);
    box-shadow: 0px 10px 30px rgba(57, 189, 175, 0.7);
}

.slide-button {
    background-color: rgb(90, 209, 224);
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 55%;
    right: 50%;
    transform: translateX(-50%);  
}

.cost {
    font-size: 1.5rem;
    padding: 0 1.5px;
    font-weight: 500;
    color: black;
   
}

.duration {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 30px;

}




/* .duration {
    height: 5vh;
    position: relative;
    top: 20px;
    
} */

/* .monthly {
    position: absolute;
    left: 10%;
    top: -12px;
    height: auto;
  
} */

/*---------------- Toggle ---------------------*/

/* toggle wrap */
.switch {
    position: relative;
    top: 5px;
    width: 27px;
    height: 15px;
    display: inline-block;
    margin: 0 5px;

}

/* hide default toggle style */
.switch input {
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: all;
    cursor: pointer;
    
}

/* style toggle */
.toggle {
    position: absolute;
    background-color: #d8d8e9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.4s;
}

/* style thumb and toggle color before being clicked */
.toggle::before {
    content: "";
    position: absolute;
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: #fdfdfd;
    transition: 0.2s;
    border-radius: 50%;

}

/* style toggle when being clicked */
input:checked + .toggle {
    background-color: rgb(144, 223, 255);
}

/* style thumb when being clicked */
input:checked + .toggle:before {
    transform: translateX(12px);
}

/* .yearly {
    position: absolute;
    right: 0;
    height: auto;
    top: -6px;
} */

.toggle-discount {
    opacity: 0;
}

.discount {
    position: relative;
    display: inline-block;
    bottom: 1px;
    min-width: 30px;
    height: auto; 
    padding: 4px;
    font-size: 0.6rem;
    background-color: rgb(255, 242, 234);
    color: rgb(255, 138, 5);
    border-radius: 20px;
    margin: 0 5px;
}

.discount-desktop {
    display: none;
    position: relative;
    bottom: 1px;
    min-width: 30px;
    height: auto; 
    padding: 4px;
    font-size: 0.6rem;
    background-color: rgb(255, 242, 234);
    color: rgb(255, 138, 5);
    border-radius: 20px;
    margin: 0 5px;
}


.bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: solid 1px rgba(149, 157, 165, 0.2);
}

.benefit {
    list-style: none;
}

.benefit li {
    padding: 5px 0;
}

.check {
    padding: 0 10px;
}

.button {
    height: 35px;
    width: 140px;
    max-width: 100%;
    background-color: rgb(56, 79, 129);
    padding: 10px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px auto;
    color: rgb(197, 213, 247)
    
}

.button:hover {
    background-color: rgba(56, 79, 129, 0.9);
    transition: ease-in-out 0.5s;
}


/*---------- Attribution -----------------*/

.attribution { 
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 0;

}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/*------------ RESPONSIVE DESKTOP------------------*/


@media screen and (min-width: 520px) {

    body {
        font-size: 12px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .description {
        display: flex;
        justify-content: center;
    
    }
    
    .description p {
        padding: 2px;
    }


    .views-price {
        flex-direction: row;
        height: 10vh;
        position: relative;
        align-items: center;
    }

    .slider {
        position: absolute;
        bottom: -10%;
        
    }

    .monthly {
        padding: 10px 0;
    }

    .yearly {
        padding: 10px 0;
    }

    .discount {
        display: none;
    }

    .discount-desktop {
        display: inline-block;
    }

   

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .benefit {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .button {
        margin: 0;
        
    }

}